<a href="https://colab.research.google.com/github/tayyabijaz/DataScience/blob/master/Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
## importing libraries
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import os
import matplotlib.pyplot as plt
get_ipython().magic('matplotlib inline')

from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import LabelEncoder

## reading files
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

          id   timestamp  ...  market_count_5000   price_doc
0          1  2011-08-20  ...                4.0   5850000.0
1          2  2011-08-23  ...               14.0   6000000.0
2          3  2011-08-27  ...               10.0   5700000.0
3          4  2011-09-01  ...                3.0  13100000.0
4          5  2011-09-05  ...               14.0  16331452.0
...      ...         ...  ...                ...         ...
15050  15053  2014-02-15  ...                2.0   5600000.0
15051  15054  2014-02-15  ...                1.0   4851000.0
15052  15055  2014-02-15  ...               13.0   9400000.0
15053  15056  2014-02-15  ...                7.0   5800000.0
15054  15057  2014-02-15  ...                NaN         NaN

[15055 rows x 292 columns]

# New Section